.side-bar-menu {
  padding: 2rem;
}

a.logo {
  text-decoration: none;
}

.logo {
  color: white;
  font-size: 2rem;
  margin-top: 3rem;
}

/* side bar menu */
ul li a.menu-item {
  list-style: none;
  line-height: 4rem;
  text-decoration: none;
  color: white;
  font-size: 2rem;
}
