/* ===================== registration page ========= */
a {
  text-decoration: none;
}
.register-page {
}

.reg-form {
  width: 500px;
  margin: auto;
  margin-top: 20vh;
  box-shadow: -5px 5px 10px grey;
}
